.pic{
    margin-bottom: 10px;
}

.sc_title{
    margin-bottom: 5px;
}
.h2{
    margin-bottom: 10px;
}
hr{
    margin:5px;
}

/* .carousel-item{
    height: auto;
} */

/* .tupian{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;	
} */